.rendered_html code, pre, .prompt, .CodeMirror pre, .output_area pre {font-family: Consolas, NanumSquareRound, Malgun Gothic; font-size: 12pt; line-height: 150%;}
table.dataframe {
    border-collapse: collapse;
    border: none;
    font-family: Consolas, NanumSquareRound, Malgun Gothic; font-size: 10pt; line-height: 120%;
}